<div class="container-fluid bg-light mt-5 text-light">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3 text-light">
        <h5 class="text-dark">Customer Servive Portal</h5>

        <a class="navbar-brand" [routerLink]="['/home']" href="#">
          <img src=" https://th.bing.com/th/id/OIP.8DhqrdK_enYQbi_7Saky2wHaE7?w=262&h=180&c=7&r=0&o=5&pid=1.7"
            width="250px" height="200px" />
        </a>


      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <div class="col-6 col-md-2 mb-3">
        <h5 class="text-dark">Our Services</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Operating System/Hardware</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Expense Reimbursement</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Global Mobility</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Academy Support</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Customer Holidays</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">My contracts</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Security Endorsement Tools</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">

        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">PeopleSoft HCM</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">TruTime</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Exit Process/Sepration</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">MyCareer</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Payroll</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Account Management</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Server And Storage</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Email And Messaging</a></li>
        </ul>
      </div>


    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between text-dark py-4 my-4 border-top">
      <p>&copy; 2022 Customer Service Portal,. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#twitter" />
            </svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#instagram" />
            </svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#facebook" />
            </svg></a></li>
      </ul>
    </div>
  </footer>
</div>