<div class="container-fluid">
  <nav class="navbar navbar-expand-lg bg-light rounded fixed-top navdb " aria-label="cUSTOMER portal navbar ">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/home']" href="#">
        <img
          src="https://th.bing.com/th?q=Customer+Care+Cartoon&w=120&h=120&c=1&rs=1&qlt=90&cb=1&pid=InlineBlock&mkt=en-IN&cc=IN&setlang=en&adlt=strict&t=1&mw=247"
          width="90px" height="90px" />
      </a>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <h3 class=" text-primary ">Customer Service Portal</h3>
        </li>
      </ul>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
        <ul class="navbar-nav">
          <li class="nav-item">
            <h5 class=" fst-italic text-dark" [routerLink]="['/home']" aria-current="page" href="#">Welcome User , We
              are Here To Help!...</h5>
          </li>
        </ul>
      </div>


      <ul class="nav nav-pills">
        <li class="nav-item">
          <button class="btn btn-outline-primary me-3" type="button" [routerLink]="['/home']">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
              <path fill-rule="evenodd"
                d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
            </svg> Home
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-primary me-3" type="button" [routerLink]="['/signUp']">
            SignUp
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-primary me-3" type="button" [routerLink]="['/login']">
            Login
          </button>
        </li>
        <li></li>
      </ul>
    </div>
  </nav>
</div>