<app-header></app-header>
<br>
<br>

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Customer Service Portal</h1>
    <p class="col-md-8 fs-4">Customer management & Portal Increase customer satisfaction by by providing a highly
      personalized experience. Start free trial All customer’s information in one place All in one place …</p>
    <button class="btn btn-primary btn-lg" (click)="close()" type="button">Get Started</button>

  </div>
  <app-footer></app-footer>